:root {
  /* --blue-light: #96d4ea;
  --blue: #2c67b3;
  --blue-dark: #181D2A;

  --black: #1a1a1a;
  --gray: #a9b7cc;
  --white: #f5f7f9;

  --yellow: #f3de53; */
}


/* body {
  min-height: 100vh;
  color: var(--black);
  background: white;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */
